<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Portfolio</title>
    <link
      href="https://fonts.googleapis.com/css2?family=VT323&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/src/styles/style.css" />
  </head>
  <body>
    <slot />
  </body>
</html>
